@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Neucha&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.attribution {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 11px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Libre Franklin', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  margin-top: 120px;
}
header img {
  width: 120px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero h2 {
  margin-top: 57px;
  font-size: 4.44rem;
}
.hero h2 span {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
}
.hero p {
  margin-top: 20px;
  font-size: 1.875rem;
  color: hsl(0, 0%, 39%);
}
.hero .box {
  margin-top: 50px;
  width: 964px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
}
.hero .box .mailInput {
  font-size: 1.2rem;
  flex: 2;
  padding: 24px 35px;
  border: 1px solid hsl(223, 50%, 88%);
  border-radius: 35px;
}
.hero .box .mailInput:focus {
  outline: none;
  border: 1px solid hsl(223, 50%, 18%);
}
.hero .box .mailInput::placeholder {
  font-weight: 100;
  font-size: 1.2rem;
  color: hsl(0, 0%, 74%);
}
.hero .box .mailInput.error::placeholder {
  color: hsl(0, 0%, 10%);
}
.hero .box .errorMsg {
  font-size: 0.9rem;
  color: hsl(354, 100%, 66%);
  position: absolute;
  top: 55px;
  left: 35px;
}
.hero .box .blueBtn {
  font-size: 1.2rem;
  flex: 1;
  padding: 25px;
  border-radius: 35px;
  border: none;
  color: white;
  background-color: hsl(223, 87%, 63%);
  cursor: pointer;
}
.hero img {
  margin-top: 120px;
  width: 900px;
  cursor: pointer;
}

footer {
  margin: 100px 0;
  display: flex;
  flex-direction: column;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.logos i {
  color: hsl(223, 87%, 63%);
  padding: 7px;
  border: 1px solid hsl(0, 0%, 89%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
}
.logos i:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(223, 87%, 63%);
}
footer p {
  margin-top: 35px;
  font-size: 0.9rem;
  color: hsl(0, 0%, 59%);
}
/* laptop */
@media (max-width: 1024px) and (min-width: 769px) {
  header {
    margin-top: 90px;
  }
  header img {
    width: 90px;
  }

  .hero h2 {
    margin-top: 43px;
    font-size: 3.33rem;
  }
  .hero p {
    margin-top: 15px;
    font-size: 1.4rem;
  }
  .hero .box {
    margin-top: 37px;
    width: 724px;
  }
  .hero .box .mailInput {
    font-size: 0.9rem;
    padding: 18px 26px;
  }
  .hero .box .mailInput::placeholder {
    font-size: 0.9rem;
  }
  .hero .box .errorMsg {
    top: 40px;
    left: 26px;
  }
  .hero .box .blueBtn {
    font-size: 0.9rem;
    padding: 19px;
  }
  .hero img {
    margin-top: 90px;
    width: 675px;
  }

  footer {
    margin: 75px 0;
  }
  footer p {
    margin-top: 26px;
  }
}
/* tablet */
@media (max-width: 768px) and (min-width: 481px) {
  header {
    margin-top: 60px;
  }
  header img {
    width: 60px;
  }

  .hero h2 {
    margin-top: 28px;
    font-size: 2.22rem;
  }
  .hero p {
    margin-top: 10px;
    font-size: 1rem;
  }
  .hero .box {
    margin-top: 24px;
    width: 475px;
  }
  .hero .box .mailInput {
    font-size: 0.9rem;
    padding: 12px 17px;
  }
  .hero .box .mailInput::placeholder {
    font-size: 0.9rem;
  }
  .hero .box .errorMsg {
    font-size: 0.8rem;
    top: 33px;
    left: 17px;
  }
  .hero .box .blueBtn {
    font-size: 0.9rem;
    padding: 13px;
  }
  .hero img {
    margin-top: 60px;
    width: 445px;
  }

  footer {
    margin: 50px 0;
  }
  footer p {
    margin-top: 17px;
  }
}
/* mobile */
@media (max-width: 480px) {
  header {
    margin-top: 60px;
  }
  header img {
    width: 60px;
  }

  .hero h2 {
    margin-top: 28px;
    font-size: 1.66rem;
  }
  .hero p {
    margin-top: 10px;
    font-size: 0.9rem;
  }
  .hero .box {
    margin-top: 36px;
    width: 300px;
    flex-direction: column;
  }
  .hero .whenError {
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
  .hero .box .mailInput {
    width: 100%;
    font-size: 0.9rem;
    padding: 14px 30px;
  }
  .hero .box .mailInput::placeholder {
    font-size: 0.9rem;
  }
  .hero .box .errorMsg {
    width: 80%;
    font-size: 0.75rem;
    text-align: center;
    margin-top: 32px;
  }
  .hero .box .blueBtn {
    width: 100%;
    font-size: 0.9rem;
    padding: 15px 0;
  }
  .hero img {
    margin-top: 75px;
    width: 300px;
  }

  footer {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .logos i {
    padding: 5px;
    width: 25px;
    height: 25px;
    font-size: 17px;
  }
  footer p {
    margin-top: 30px;
  }
}
